<form>
<div class="form-group">
    <label>SPRINT NAME</label>
    <input class="form-control form-control-lg" placeholder="Sprint Name"
    name="sprintName" #sprintName="ngModel" [(ngModel)]="service.formData.sprintName">
</div>

<div class="form-group">
    <label>START DATE OF SPRINT</label>
    <input class="form-control form-control-lg" placeholder="Start Date Of Sprint"
    name="sprintStartDate" #sprintStartDate="ngModel" [(ngModel)]="service.formData.sprintStartDate">
</div>

<div class="form-group">
    <label>NG APPLICATION</label>
    <input class="form-control form-control-lg"
    name="applicationName" #applicationName="ngModel" [(ngModel)]="service.formData.applicationName">
</div>

</form>
