.form-group label{
color:grey
}

.form-group input{
    font-weight: 500;
}

.form-group input::placeholder{
    color: #c0bdbd;
    font-weight: 300;
    font-size:medium;
}

thread th{
    font-weight: 400;
}

table tbody tr:hover{
background-color: #fffb;
}

input.invalid {
    border-color: red;
}

.btn-customstyle {
background-color: #0d6efd;
border-color: #0d6efd;
}

