<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="index.html" verb="*" modules="iisnode" />
       <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
    </handlers>
     
    <defaultDocument enabled="true">
      <files>
        <add value="index.html" />
         <add value="index.js" />
      </files>
    </defaultDocument>
    <httpErrors errorMode="Detailed"></httpErrors>
  </system.webServer>
</configuration>